body {
    font-family: 'Mukta', sans-serif;
    height: 100vh;
    background: rgb(160, 213, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
background-color: #fff;
border-radius: 25px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
max-width: 1000px;
height: 640px; /* Set the height to 80px */
display: flex;
flex-direction: column;
justify-content: center; /* Aligns content vertically */

}

.content h1 {
    color: #2A5DB0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input,
.form-group select,
.form-group button {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.submit-btn {
    background-color: #2A5DB0;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #1E4A8C;
}
.phone-group {
display: flex;
align-items: center;
}

.phone-prefix {
background-color: #e0e0e0;
padding: 15px;
border: 2px solid #ccc;
border-right: none;
border-radius: 5px 0 0 5px;
}

.phone-input {
flex: 1;
border: 2px solid #ccc;
border-left: none;
border-radius: 0 5px 5px 0;
padding: 15px;
box-sizing: border-box;
}


.disabled-btn {
    background-color: grey !important; /* Grey for disabled state */
    cursor: not-allowed;
    opacity: 0.6;
}